body{
    background: #bababa;
    text-align: center;
}

textarea{
    color: black;
    padding: 20px;
    font-size: 28px;
    width: 85%;
    margin-top: 50px;
    font-family: 'Kaushan Script', monospace;
    font-weight: bolder;
    text-align: center;
    outline: none;
    resize: none;
    border: none;
    border-radius: 20px;
    background: linear-gradient(315deg, #a7a7a7, #c7c7c7);
    box-shadow:  -9px -9px 24px #979797,
             9px 9px 24px #dddddd;
    text-shadow:
       2px 2px 0px white;
}

input{
    text-align: center;
    outline: none;
    margin-top: 50px;
    color:#fff;
    padding: 10px;
    width: 300px;
    font-family: 'Federant';
    font-size: 20px;
    text-decoration: none;
    border: none;
    border-radius: 15px;
    background: #bababa;
    box-shadow: inset 5px 5px 9px #888888,
            inset -5px -5px 9px #ececec;
    text-shadow:
       2px 2px 0px black;
}

input:hover{
    cursor: pointer;
    border-radius: 15px;
    background: #bababa;
    box-shadow: inset -5px -5px 9px #888888,
            inset 5px 5px 9px #ececec;
    color: white;
    text-shadow:
       -2px -1px 0px black;
    
}

