*{
    -webkit-tap-highlight-color: transparent;
}

body{
    background: linear-gradient(180deg, #0258b5, #003975 45%, #002b59 75%, #001c3b 100%);
    text-align: center;
}

.title{
    width: 300px;
}

#plot{
    color: #003e83;
    padding: 10px;
    font-size: 26px;
    width: 85%;
    margin-top: 40px;
    font-family: 'Kaushan Script', monospace;
    font-weight: bolder;
    text-align: center;
    outline: none;
    resize: none;
    border-radius: 15px;
    border: 4px double #bf4000;
    background: linear-gradient(145deg, #ceb585, #ffefc7);
    box-shadow:  
             13px 13px 35px #002;
    text-shadow:
       2px 2px 0px white;
}

button{
    text-align: center;
    outline: none;
    margin-top: 20px;
    color:#fff;
    padding: 10px;
    width: 250px;
    font-family: 'Federant';
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #00c;
    background: #bf4000;
    box-shadow: inset 12px 12px 24px #602000,
            5px 8px 30px #002,
            inset -12px -12px 24px #ff6000;
    border-radius: 20px;
    text-shadow:
       2px 2px 0px #005bbd;
}

button:hover{
    cursor: pointer;
    border-radius: 20px;
    border-radius: 20px;
    background: #bf4000;
    box-shadow: inset -12px -12px 24px #602000,
            0px 8px 30px #0c7ffa,
            inset 12px 12px 24px #ff6000;
    color: #fff;
    text-shadow:
       -2px -1px 0px black;
    
}

#favButton:hover{
    border-radius: 30px;
    background: #00459e;
    box-shadow: inset 8px 8px 14px #001c3f,
            0px 8px 30px #ff6000,
            inset -8px -8px 14px #006efd;
}

#favButton{
    border-radius: 30px;
    background: #00459e;
    box-shadow: inset -8px -8px 14px #001c3f,
            5px 8px 25px #602000,
            inset 8px 8px 14px #006efd;
}

#logo{
    width: 70px;
    margin-top: 80px;
    filter: drop-shadow(5px 5px 6px black);
    cursor: pointer;
}

#logo1{
    width: 70px;
    filter: drop-shadow(5px 5px 6px black);
    cursor: pointer;
}

#logo:hover{
    filter: drop-shadow(2px 5px 26px #ff6000);
}

.one{
    color: white;
    font-size: 15px;
    font-family: 'Quintessential';
    float: left;
    width: 25px;
    border-radius: 100px;
    background: #bf4000;
    box-shadow: inset -12px -12px 24px #602000,
            0px 8px 30px #003975,
            inset 12px 12px 24px #ff6000;
    padding:8px 7px;
    text-align: center;
    border: 1px solid #ceb585;
    cursor: pointer;
}

.two{
    color: white;
    font-size: 15px;
    font-family: 'Quintessential';
    width: 25px;
    margin-left: 90px;
    border-radius: 100px;
    background: #bf4000;
    box-shadow: inset -12px -12px 24px #602000,
            0px 8px 30px #003975,
            inset 12px 12px 24px #ff6000;
    padding: 8px 7px;
    text-align: center;
    border: 1px solid #ceb585;
    cursor: pointer;
}

.one:hover, .two:hover{
    background: #bf4000;
    box-shadow: inset 12px 12px 24px #602000,
            1px 4px 10px black,
            inset -12px -12px 24px #ff6000;
}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 60px;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
  bottom: 20px;
  left: 45%;
  margin-left: -61px;
}

/* Popup arrow */
.popup .popuptext::after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1.5s;
  animation: fadeIn 1.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
    
    #message{
        height: 150px;
        padding: 50px 30px 0px;
        color: #b33d02; 
    }

    select{
        font-family: 'federant', serif;
        color: #a00;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
        max-width: 40%;
        background-color: #ffefc7;
        border: 5px double #b33d02; 
        border-radius: 20px;
        padding: 3px 10px;
        margin-bottom: 15px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #c00;
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: red;
    }

    /* Style inputs with type="text", select elements and textareas */
    input[type=text], textarea {
        font-family: 'federant', serif;
        font-size: 18px;
        font-weight: bolder;
        background-color: #ffefc7;
        margin: auto;
        box-shadow: 2px 4px 10px #111109;
        text-align: center;
        width: 80%; /* Full width */
        padding: 8px; /* Some padding */  
        border: 5px double #b33d02; /* Gray border */
        border-radius: 30px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 10px; /* Add a top margin */
        margin-bottom: 25px; /* Bottom margin */
        resize: none; 
    }

    /* Add a background color and some padding around the form */
    .container{
        max-width: 95%;
        margin: auto;
    }

    #form {
        padding: 20px 0px 0px;
        text-align: center;
        width: 100%;
    }

@media (min-width: 700px){
    #plot{
        padding: 100px 100px 0 100px;
        font-size: 32px;
    }
}

@media (min-width: 400px) and (max-width: 699px){
    #plot{
        padding: 50px 50px 0 50px;
        font-size: 28px;
    }
}
