*{
    -webkit-tap-highlight-color: transparent;
}

html, body{
    margin: 0;
    height: 100%;
}

body{
    background: linear-gradient(180deg, #0258b5, #003975 45%, #002b59 75%, #001c3b 100% 100%);
    text-align: center;
}

.title{
    width: 300px;
    margin-top: 20px;
    filter: drop-shadow(14px 10px 10px #000);
}

#generater{
    margin-top: 30px;
}

#favul{
    margin: auto;
    width: 85%;
}

#item::placeholder { 
    color: #008;
    padding: 10px;
    font-size: 20px;
    }

#item{
    width: 85%;
    margin: 25px 0 15px;
    color: #003e83;
    outline: none;
    min-height: 75px;
    border-radius: 20px;
    border: 4px double #bf4000;
    background: linear-gradient(145deg, #ceb585, #ffefc7);
    box-shadow:  
             13px 13px 35px #002;
    text-shadow:
       2px 1px 0px white;
}

ul{
    list-style-type:none;
    min-height: 200px;
    color: #003e83;
    padding: 10px;
    font-size: 24px;
    margin: 0 auto 10px;
    font-family: 'Kaushan Script', monospace;
    font-weight: bolder;
    text-align: center;
    outline: none;
    resize: none;
    border-radius: 20px;
    border: 4px double #bf4000;
    background: linear-gradient(145deg, #ceb585, #ffefc7);
    box-shadow:  
             13px 13px 35px #002;
    text-shadow:
       2px 1px 0px white;
}

#plot{
    color: #003e83;
    padding: 10px 20px;
    font-size: 26px;
    width: 85%;
    margin: 20px auto 20px;
    font-family: 'Kaushan Script', monospace;
    font-weight: bolder;
    text-align: center;
    outline: none;
    resize: none;
    border-radius: 15px;
    border: 4px double #bf4000;
    background: linear-gradient(145deg, #ceb585, #ffefc7);
    box-shadow:  
             13px 13px 35px #002;
    text-shadow:
       2px 2px 0px white;
}

button{
    text-align: center;
    outline: none;
    margin: 15px;
    color:#fff;
    padding: 8px;
    width: 150px;
    font-family: 'Federant';
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #ceb585; 
    background: #bf4000;
    box-shadow: inset -11px -11px 12px #581d00,
            5px 8px 30px #002,
            inset 11px 11px 12px #ff6300;
    border-radius: 20px;
    text-shadow:
       2px 2px 0px #005bbd;
}

button:hover{
    cursor: pointer;
    border-radius: 20px;
    border-radius: 20px;
    background: #bf4000;
    box-shadow: inset 11px 11px 12px #581d00,
            0px 8px 30px #0c7ffa,
            inset -11px -11px 12px #ff6300;
    color: #fff;
    text-shadow:
       -2px -1px 0px black;
}

#copyB{
    width: 100px;
    padding: 8px;
    margin: 10px;
    font-size: 18px;
    border-radius: 100px;
    }

#favButton{
    width: 100px;
    border: .5px solid #ceb585; 
    margin-bottom: 10px;
    border-radius: 30px;
    background: #00459e;
    box-shadow: inset -8px -8px 14px #001c3f,
            13px 13px 35px #002,
            inset 8px 8px 14px #006efd;
}

#favButton:hover{
    border-radius: 30px;
    background: #00459e;
    box-shadow: inset 8px 8px 14px #001c3f,
            5px 8px 25px #ff6000,
            inset -8px -8px 14px #006efd;
}

#favButton1{
    width: 100px;
    border: 1px solid #ceb585; 
    margin-right: 30px;
    border-radius: 30px;
    background: #ff3300;
    box-shadow: inset -14px -14px 23px #661400,
            13px 13px 35px #002,
            inset 14px 14px 23px #ff5200;
}

#favButton1:hover{
    border-radius: 30px;
    background: #ff3300;
    box-shadow: inset 14px 14px 23px #661400,
            5px 8px 20px #ff6000,
            inset -14px -14px 23px #ff5200;
}

.navfav{
    background:linear-gradient(#ff6000, #bc4901 40%, #a84100, #602000);
    position: fixed;
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 100px;
    margin-top: 35px;
    z-index: 1;
    background-image: radial-gradient(circle, #bc4901 50px, transparent 0), 
                    linear-gradient(transparent 30%, #bc4901 30%, #873501 70%, transparent 60%);
}

.nav{
    background-image: radial-gradient(circle, #0258b5 50px, transparent 0), 
                    linear-gradient(transparent 30%, #0258b5 30%, #003975 70%, transparent 60%);
    font-family: 'Federant';
    position: fixed;
    bottom: 10px;
    width: 100%;
    height: 100px;
    margin-top: 35px;
    z-index: 1;
}

#logo{
    margin-top: 12px;
    width: 65px;
    filter: drop-shadow(1px 2px 5px black);
    cursor: pointer;
}

#logo:hover{
    filter: drop-shadow(2px 5px 26px #ff6000);
}

#one{
    float: left;
    color: white;
    margin: 33px 0px 0px 6%;
    font-size: 15px;
    width: 70px;
    border-radius: 100px;
    background: #bf4000;
    box-shadow: inset -11px -11px 12px #581d00,
            1px 2px 5px #000,
            inset 11px 11px 12px #ff6300;
    padding: 7px 8px;
    text-align: center;
    border: 1px solid #ceb585;
    cursor: pointer;
}

#two{
    float: right;
    color: white;
    font-size: 15px;
    width: 70px;
    margin: 33px 6% 0px 0px;
    border-radius: 30px;
    background: #bf4000;
    box-shadow: inset -11px -11px 12px #581d00,
            1px 2px 5px #000,
            inset 11px 11px 12px #ff6300;
    padding: 7px 8px;
    text-align: center;
    border: 1px solid #ceb585;
    cursor: pointer;
}

#onefav{
    float:left;
    color: white;
    margin: 33px 0px 0px 6%;
    font-size: 15px;
    width: 70px;
    border-radius: 100px;
    background:  #00459e;
    box-shadow: inset -8px -8px 14px #001c3f,
            -1px 2px 5px #002,
            inset 8px 8px 14px #006efd;
    padding:8px 8px;
    text-align: center;
    border: 1px solid #ceb585;
    cursor: pointer;
}

#twofav{
    float:right;
    color: white;
    font-size: 15px;
    width: 70px;
    margin: 33px 6% 0px 0px;
    border-radius: 30px;
    background:  #00459e;
    box-shadow: inset -8px -8px 14px #001c3f,
            1px 2px 5px #002,
            inset 8px 8px 14px #006efd;
    padding: 8px 8px;
    text-align: center;
    border: 1px solid #ceb585;
    cursor: pointer;
}

.one:hover, .two:hover{
    background: #bf4000;
    box-shadow: inset 12px 12px 24px #602000,
            1px 4px 10px black,
            inset -12px -12px 24px #ff6000;
}

    
#message{
    height: 150px;
    padding: 35px 30px 0px;
    color: #00c; 
    margin-bottom: 15px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #00c;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}

    /* Style inputs with type="text", select elements and textareas */
input[type=text], textarea {
    color: #003e83;
    outline: none;
    font-family: 'federant', serif;
    font-size: 18px;
    font-weight: bolder;
    background: linear-gradient(145deg, #ceb585, #ffefc7);
    margin: auto;
    box-shadow: 13px 13px 25px #002;
    text-align: center;
    width: 85%; /* Full width */
    padding: 7px; /* Some padding */  
    border: 4px double #bf4000; /* Gray border */
    border-radius: 14px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 25px; /* Add a top margin */
    margin-bottom: 26px; /* Bottom margin */
    resize: none; 
    z-index: 99;
}

button[type=submit] {
    color:#fff;
    padding: 8px;
    width: 100px;
    border-radius: 30px;
    font-family: 'Federant';
    font-size: 18px;
    text-decoration: none;
    margin-bottom: -30px;
}


    /* Add a background color and some padding around the form */
.container{
    width: 95%;
    margin: 0 auto;
}
    

@media (min-width: 1000px){
    #plot{
        height: 500px;
        font-size: 50px;
        padding: 50px;
        margin: 100px auto;
        width: 75%;
    }
    
    #copyB{
        margin: 50px auto;
    }
    
    .title{
        width: 400px;
        margin: 50px auto;
    }
    
    #one, #onefav{
        margin: 33px 0px 0px 20%;
    }
    
    #two, #twofav{
        margin: 33px 20% 0px 0px;
    }
    
    #item{
        margin: 50px auto 100px;
        height: 150px;
        font-size: 30px;
        width: 75%;
    }
    
    #item::placeholder{
        font-size: 40px;
    }
    
    ul{
        margin-bottom: 100px;
        height: 300px;
        font-size: 40px;
        padding: 50px;
        width: 75%;
    }
    
    input[type=text]{
        width: 75%;
        height: 70px;
        border-radius: 20px;
        margin: 60px;
        font-size: 30px;
    }
    
    #message{
        width: 75%;
        margin-top: 50px;
        height: 320px;
        border-radius: 20px;
        font-size: 30px;
        padding: 40px 50px;
    }
    
    button[type=submit]{
        width: 200px;
        padding: 12px;
        font-size: 24px;
        margin-top: 100px;
    }
}

@media (min-width: 700px) and (max-width: 999px){
    
    .nav{
        bottom: 20px;
        height: 130px;
        background-image: radial-gradient(circle, #0258b5 65px, transparent 0), 
                    linear-gradient(transparent 30%, #0258b5 30%, #003975 70%, transparent 60%);
    }
    
    .navfav{
        bottom: 20px;
        height: 130px;
        background-image: radial-gradient(circle, #bc4901 65px, transparent 0), 
                    linear-gradient(transparent 30%, #bc4901 30%, #873501 70%, transparent 60%);
    }
    
    #favul{
        margin: -15px auto;
        width: 75%;
    }
    
    input[type=text]{
        height: 70px;
        border-radius: 15px;
        margin: 40px;
        font-size: 30px;
        width: 75%;
    }
    
    #message{
        height: 220px;
        border-radius: 15px;
        font-size: 30px;
        padding: 40px 50px;
        width: 75%;
    }
    
    #item{
        height: 100px;
        margin: 50px auto 75px;
        font-size: 30px;
        width: 75%;
    }
    
    ::placeholder {
        font-size: 30px;
    }
    
    ul{
        margin-bottom: 20px;
        font-size: 30px;
        padding: 60px;
    }
    
    #favbutton1, #favbutton{
        width: 150px;
        font-size: 30px;
        border-radius: 100px;
        padding: 10px;
        margin-bottom: 35px;
    }
    
    #plot{
        padding: 70px 70px 0 70px;
        font-size: 32px;
        width: 75%;
        margin: 50px auto;
    }
    
    .title{
        width: 400px;
        margin: 30px;
    }
    
    #one, #two, #onefav, #twofav{
        width: 100px;
        padding: 10px 20px;
        font-size: 1.4em;
    }
    
    #one, #onefav{
        margin: 40px 0px 0px 10%;
    }
    
    #two, #twofav{
        margin: 40px 10% 0px 0px;
    }
    
    #logo{
        width: 85px;
        margin-top: 16px;
    }
    
    button{
        width: 250px;
        padding: 12px;
        margin: 40px;
        font-size: 30px;
        border-radius: 50px;
    }
    
    button:hover{
        border-radius: 50px;
    }
    
    button[type=submit]{
        width: 170px;
        padding: 12px;
        margin: 40px 0 0;
        font-size: 28px;
        border-radius: 100px;
    }
    
    #copyB{
        width: 150px;
        padding: 10px;
        margin: 30px 0 45px;
        font-size: 30px;
        border-radius: 30px;
    }
}


@media (min-width: 450px) and (max-width: 699px){
    #plot{
        padding: 50px 50px 0 50px;
        font-size: 28px;
    }
    
    #one, #onefav{
        margin: 33px 0px 0px 20%;
    }
    
    #two, #twofav{
        margin: 33px 20% 0px 0px;
    }
}

@media (max-width: 449px){
    #plot{
        padding: 20px;
        font-size: 25px;
    }
    
    #favbutton{
        margin-top: 20px;
    }
}

@media (min-height: 700px) and (max-height: 999px){
    input[type=text]{
        height: 50px;
        border-radius: 15px;
        margin-top: 40px;
        font-size: 20px;
        width: 80%;
    }
    
    #message{
        height: 200px;
        border-radius: 15px;
        font-size: 22px;
        padding: 30px 30px;
        width: 80%;
    }
    
    button[type=submit]{
        margin-top: 20px;
    }
    
    #favul{
        margin: 50px auto;
    }
    
    #item{
        margin-top: 45px;
    }
    
    #plot{
        margin: 50px auto;
    }
    
    #generater{
        margin-top: 50px;
    }
}


